// -------------------------------------
//   Typography
// -------------------------------------
// ----- Global typography classes
// -------------------------------------

body {
	font-family: 'neutratext';
}

h1 {
	text-transform: uppercase;
	color: $primaryDark;
}

h1, h2, h3,
h4, h5, h6, a {
	font-family: 'gothamBold';
	text-rendering: optimizeLegibility;
}

h4, h5, h6, a {
	font-weight: lighter;
}

li, p {
	font-family: 'neutratext';
}